body{
	background-color: #FAFAFA;
}

.my-header{
	background: url('images/min_lotus_temple2.jpg') center/cover;
	height: 350px;
	

}

.profile{
	width: 40%;
	margin: 120px 100px 0;
	position: absolute;
}


.profile-img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	
}
